body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fdfdff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/*custom made classes by me for here on*/
.note {
  background-color: rgb(181, 228, 140);
  border-radius: 10px;
  padding: 1rem; /*padding is realtive to font size means agar font ka size change hua toh note ka size bhi dynamically change hoga*/
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;  /*agar hum text me kuch line space de toh save krne ke baad voh line soace gayab nhi hone chahiye is liye hia yeh pre-wrap*/

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.notes-list {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}

.App { /*fdfdff*/
  max-width: 960px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  min-height: 100vh;
}

.note.new {
  background-color: #f7d9c4;

}

textarea {
  border: none;
  resize: none;
  background-color: #f7d9c4;
}

textarea:focus {
  outline: none;
}

.save {
  background-color: #e1e1e1;
  border: none;
  border-radius: 15px;
  padding : 5px 10px 5px 10px;  /*top right bottom left*/
}

.save:hover {
  background-color: #ededed;
  cursor: pointer;
}

.delete-icon {
  cursor: pointer;
}

.search{
  display: flex;
  align-items: center;
  background-color: rgb(233, 233, 233);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 1.5em;
}

.search input {
  border: none;
  background-color: rgb(233, 233, 233);
  width: 100%;
}

.search input:focus {
  outline:none;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.dark-mode {
  background-color: #343a40;
}

.dark-mode h1{
  color: white;
}